/* ============================ Select Language ========================== */
.select-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.select-menu .options {
  position: absolute;
  left: 0;
  text-align: center;
}
.select-menu .options li {
  font-size: 12px;
  margin: 2px 0;
  padding-bottom: 3px;
  cursor: pointer;
}
.select-menu .arrowDown {
  font-size: 24px;
  cursor: pointer;
}
